body{
    background-color:blueviolet;
}
.p1{
    border: 5px solid #333 ;
    width: 800px;
    height: 200px;
    background-color:  gold;
    justify-content: center;
    font-size: x-large;
    text-align: center;
    margin: 10px;
    padding: -15px;
    display: flex;  
    align-items: center;
}
.bokk{
   
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    flex-wrap: wrap;
    border-collapse: 15%;
    border-spacing: 20%;
  
}
.para{
    transform: rotate(90deg);
    font-size: x-large bolder;
}
.t1{
    font-size: x-large;
    color: white;
    font: bold;
 display: flex;
 justify-content: center;
}

button{
    display:inline-block ;
    border:#666 1px solid;
    margin:2px;
    font-size:24px;
    cursor:pointer;
    width:80px;
    height:80px;
    border-radius:50%;
    text-align: center;
    position: absolute;
    left: 48%;
    background-color: orangered;
    }
    .selected{
        background-color: rgb(58, 136, 136);
        background: #333;

    }
    #formaff{
        margin-top: 300px;
        background-color: aqua;
        display: flex;
        margin-bottom: 100px;
    }
    #form{
        background-color: blueviolet;
        width: 50%;
        margin-bottom: 100px;
    }
    #aff{
        background-color: blueviolet;
        width: 50%;
        margin-bottom: 100px;
       
    }
    .imput{
        width: 500px;
        height: 35px;
        margin-left:60px;
        position: relative;
        align-content: center;
        border-radius: 10%;
    }
    .labbel{
        font-style: normal;
        font-size: x-large;
        color: beige;
        margin-left: 15px;
       
        
    }
    #Nom{
        margin-left: 85px;
    }
    #Telephone{
        margin-left: 35px;
    }
    #Email{
        margin-left: 75px;
    }
    textarea{
        margin-left: 155px;
    }
    #submit{
        width: 125px;
        height: 35px;
       margin-left: 68%;
    }
    h2{
        color: white;
        font-size: 30px;
        margin-left: 150px;
    }
    .offly{
        font-size: 20px;
        color: white;

    }
    .biggiri{
        background-color: blue;
    }
    .mesInfos{
        background-color: #666;
    }
    .fond{
        background-color: #345533;
        color: aqua;
    }